<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gossip Girl</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.png" alt="Healthy Recipes">
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">My Blog</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="banner">
        <img src="images/banner.webp" alt="Healthy Food">
        <div class="banner-text">
            <h1>Bem Vindos</h1>
            <p>Quem sou eu? Esse é um segredo que nunca vou contar. Você sabe que me ama. Beijos e abraços, Gossip Girl.</p>
        </div>
    </div>

    <h1>Adicionados Recentemente</h1>
    <div id="savedTexts"></div>
    
    <section id="home">
        <h2>Gossip Girl</h2>
        <p>Vítima dos próprios desejos, escravos dos próprios prazeres.</p>
    </section>
    <section id="about">
        <h2>Sobre nós</h2>
        <p>Apenas por diversão, entre e divirta-se com nossos posts.</p>
    </section>
    <section id="recipes">
        <h2>Principais</h2>
        <div class="recipe">
            <h3>Chuck Bass</h3>
           <a href=""></a> <img src="images/sl.webp" alt="Quinoa Salad">
            <p>Sonhos. Todos os têm. Alguns bons , outros ruins . Alguns tentam realizá-los , outros, tentam esquecê-los, ou simplesmente fingem que eles não existem . Alguns de nós, têm apenas pesadelos . mas não importa o quanto você sonhe. de manha, os sonhos são interrompidos , a realidade insiste em interrompê-los . Sonhe comigo ,
                You know that love me' X.O.X.O.</p>
        </div>
        <div class="recipe">
            <h3> Dan Humphrey</h3>
            <img src="images/bl.jpg" alt="Avocado Toast">
            <p>"Assim como as estações, as pessoas têm a habilidade de mudar. Não acontece com freqüência, mas quando acontece, é sempre para o bem. Algumas vezes leva o quebrado a se tornar inteiro de novo. Às vezes é preciso abrir as portas para novas pessoas e deixá-las entrar. Na maioria das vezes, é preciso apenas uma pessoa que tenha pavor de demonstrar o que sente para conseguir o que jamais achou possível. E algumas coisas nunca mudam. E que comece o novo jogo.".</p>
        </div>
    </section>
    <section id="contact">
        <h2>Contatos</h2>
        <p>Email: gossipgirl@gmail.com </p>
    </section>
    <footer>
        <p>&copy; 2024 You know you love me. XOXO, Gossip Girl.</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>